<%= form_for @post, html: {multipart: true, class: 'new_user form-horizontal'} do |f| %>
    <div class="row"><legend class="col-md-4 col-md-offset-4">Edit ShoutOut!</legend></div>
    <fieldset>
        <div class="form-group">
            <%= f.label :title, 'Title*', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <!-- <%= f.text_field :title, class: 'form-control' %> -->
                <p class="form-control-static"><%= @post.title %></p>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :body, 'Body (optional)', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_area :body, class: 'form-control', rows: "3"%>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <%= f.submit 'Post ShoutOut!', class: 'btn btn-success' %>
                <%= link_to 'Delete ShoutOut!', @post, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %>
            </div>
        </div>
    </fieldset>
<% end %>
