<div class="jumbotron">
  <div class="container text-center light-gray">
    <h1>Tell Us About Something Awesome!</h1>
  </div>
</div>
<div class="container">
<%= form_for @post, html: {multipart: true, class: 'new_user form-horizontal'} do |f| %>
    <div class="row"><legend class="col-md-4 col-md-offset-4">New ShoutOut!</legend></div>
    <fieldset>
        <div class="form-group">
            <%= f.label :title, 'Title*', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_field :title, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :image, 'Post an Image! (optional)', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.file_field :image%>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :body, 'Body (optional)', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= f.text_area :body, class: 'form-control', rows: "3"%>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <%= f.submit 'Post ShoutOut!', class: 'btn btn-success' %>
            </div>
        </div>
    </fieldset>
<% end %>
</div>
