<h1><%= @post.title %></h1>
<h2><small>Posted By <%= link_to @post.user.username, @post.user %> <%= time_ago_in_words(@post.created_at) %> ago.<small> <%= link_to 'Edit', edit_post_path(@post) if @post.user == current_user %></h2>
<%= image_tag @post.image.url(:medium), class: "img-rounded" if @post.image_file_name %>
<p><%= @post.body %></p>

<% @post.comments.each do |c| %>
<div class="bg-info">
  <h4><%= c.user.username %></h4>
  <%= content_tag :p, c.body %>
</div>
<% end %>

<%= form_for [@post, @comment], html: {class: 'new_user form-horizontal'} do |comment| %>
    <div class="row"><legend class="col-md-4 col-md-offset-4">New Comment</legend></div>
    <fieldset>
        <div class="form-group">
            <%= comment.label :body, 'Comment', class: 'col-md-4 control-label' %>
            <div class="col-md-5">
                <%= comment.text_area :body, class: 'form-control', rows: "3"%>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <%= comment.submit 'Post Comment!', class: 'btn btn-success' %>
            </div>
        </div>
    </fieldset>
<% end %>

<%= link_to 'Comment', new_post_comment_path(params[:id]), class: 'btn btn-primary', role: 'button' %>
