<h1><%= @post.title %></h1>
<h2><small>Posted By <%= link_to @post.user.username, @post.user %> <%= time_ago_in_words(@post.created_at) %> ago.<small> <%= link_to 'Edit', edit_post_path(@post) if @post.user == current_user %></h2>
<%= image_tag @post.image.url(:medium), class: "img-rounded" if @post.image_file_name %>
<p><%= @post.body %></p>

<%= link_to 'Comment', new_post_comment_path(params[:id]), class: 'btn btn-primary', role: 'button' %>
